body{
    font-family: 'Roboto Slab', serif;
    background-color:#3C6E71;
    background-size: 100px 100%;
    max-width: 50%;
    margin: auto;
    justify-content: center;

}
header {
    background-color: #353535;
    color: #D9D9D9;
    width:auto;
    display: grid;
    grid-template-columns: auto 20%;
    grid-template-rows: 5em;
    text-align:center;
    padding: 1em;
}
header > img {
  width: 100%;
  box-shadow: 1px 1px 10px black;
  border-radius: 5px;
}
h1{

}
section{
    background-color: #284B63;
    color: #D9D9D9;

}
h2 {
    text-align:center;
}
ul {
    list-style-type: none;
    width: auto;
    margin-left: 1%;
    background-color: #284B63;
  }
  
  li a {
    display: inline-block;
    color: #ffff;
    padding:10px;
    border:white 1px;
    text-decoration:none;
  }
  li a:hover {
    background-color: #353535;
    color: white;
  }
footer {
    background-color: #353535;
    color:#D9D9D9;
    height:60px;
    width:100%;
    padding:25px,50px,25px,50px;
    text-align:center;

}