
header {
    background-color: #FFFFFF;
    height:100px;
    max-width:500px;
    text-align:center;
    vertical-align:middle;

}
section{
    background-color: #8EE4AF;

}
footer {
    background-color: #EDF5E1;
    height:40px;
width:100%;
text-align:center;

}