@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Open+Sans&display=swap');


:root {
    --main-color: #2A4D14;
    --secondary-color: #011638;
    --accent-color: #99C24D;
    --default-light: #FAFAFF;
    --default-dark: #637081;

    --header-font: 'Baloo 2', cursive;
    --paragraph-font: 'Open Sans', sans-serif;
}
.banner {
    text-align: center;
    font-size: 1.3rem;
    padding: 1% 1%;
}
#banner {
    display:none;
}
header {
    background-color: var(--main-color);
    display:grid;
    grid-gap:1%;
    grid-template-columns: 1fr 3fr 1fr 1fr;
}
.logo {
    display:flex;
    align-items: center;
    margin-left: 1rem;
}
.logo img {
    grid-column: 1;
    width: 80px;
}
.headings {
    display:flex;
    align-items: center;
    flex-wrap: wrap;
}
.headings h1 {
    font-family: var(--header-font);
    font-size: 1.6rem;
    margin-bottom: 1%;
    color: var(--default-light);
}
.headings h2 {
    font-family: var(--paragraph-font);
    margin-top: 0%;
    color: var(--default-light);
    font-weight: 700;
    font-size: 1rem;
}
.social {
    grid-column: 3/4;
    align-self: center;
    display: flex;
    flex-direction: row;
}
.social img {
    max-width: 32px;;
}
#headerDate {
    grid-column: 1/5;
    background-color:var(--secondary-color);
    font-family:var(--header-font);
    font-size: 2em;
    letter-spacing: 0.2rem;
    padding: 2%;
    color:var(--default-light);
    text-align: center;
    margin:2%;
}
nav button {
    position:absolute;
    right:2%;
    top:40px;
    margin: 0.2rem 2vw;
    background:var(--secondary-color);
    border: none;
    font-size: 2rem;
    color:var(--accent-color);
    cursor: pointer;
}
nav {
    grid-column:1/5;
    font-family:var(--header-font);
    font-size: 1.2rem;
    width:100%;
    margin: 0 auto;
}
nav ul {
    display:none;
    padding: 0;
    margin: 0;
    overflow: visible;
}
nav ul.open {
    display: block;
}
#hamburgerBtn span:nth-child(1) {
    display:block;
}
#hamburgerBtn span:nth-child(2) {
    display:none;
}
#hamburgerBtn.open span:nth-child(1) {
    display:none;
}
#hamburgerBtn.open span:nth-child(2) {
    display:block;
}
nav ul li {
    padding: 1%;
    list-style: none;
    background-color:var(--default-dark);
    border-top: 1px solid rgb(0, 0, 0, 0.5);
}
nav ul li a {
    display:block;
    text-decoration:none;
    color:var(--accent-color);
    padding: 0.8rem 2vw;
}
.active {
    background-color:var(--secondary-color);
    opacity:90%;
}
.active a, nav ul li a:hover {
    color:var(--accent-color);
    font-size: 1.4rem;
}
nav ul li:hover {
    color:var(--accent-color);
    background-color: var(--secondary-color);
}
main {
    width:80%;
    margin: 0 auto;
}
main div {
    text-align: center;
    background-color:var(--default-dark);
    color:var(--default-light);
    padding: 1em;
    border: 1px solid #444;
}
h2 {
    color: var(--accent-color);
    font-family: var(--header-font);
    text-shadow: 2px 0px 10px var(--default-dark);
}
.heroImages {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#weather #weatherInfo {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:auto;
    align-items: center;
    border: none;
}
#weather #weatherInfo #weatherIcon {
    grid-area: 1/2/3/2;
}
#weather #weatherInfo #weatherF {
    font-size: 1.5em;
    font-weight: bold;
}
#spotlights section span:nth-child(3) {
    display:none;
}
#spotlights section {
    border: 1px solid var(--accent-color);
    background-color: var(--default-dark);
    margin: 0;
    padding: 0 1em;
    text-align: center;
}
#join {
    display:none;
}
footer {
    background-color:var(--main-color);
    font-family: var(--header-font);
    text-align:center;
    color:var(--default-light);
    padding: 1% 0;
    box-shadow: 0 2px 15px var(--default-dark);
}
footer div:nth-child(1) { font-size: 1.2rem;}
footer div:nth-child(2) { font-size: 0.5rem;}
#logofooter img {
    width: 80px;
    background-color: var(--default-light);
    border-radius: 50%;
    margin-top: 1%;
    padding-bottom: 0%;
}
#footer1 p {
    margin: 3%;
    padding: 1%;
}
#footer1 a {
    color:var(--default-light);
    text-decoration:none;
}
#footer1 a::before {
    content: "📍";
}
#footer2 ul li {
    list-style: none;
}
#jacobName, #chamberNameFooter {
    font-family:var(--header-font);
    letter-spacing: 0.15rem;
}
#to-portal-page {
    text-decoration: none;
    color:var(--default-light);
}
#to-portal-page:hover {
    box-shadow: 0 2px 15px var(--default-dark);
    padding: 5px 10px 0px 10px;
}
hr {
    color: var(--default-dark);
    opacity: 5;
    clear:left;
}
#hero {
    position: relative;
    padding: 0 0;
    background-color: transparent;
}
#event {
    background-color: var(--default-dark);
}
#event h2, #spotlights section h2 {
    color:var(--default-light)
}
#event, #spotlights section {
    color:var(--default-light)
}
#hero .heroImages {
    max-width: 100%;
}
#hero h2 {
    color:var(--secondary-color);
    position:absolute;
    text-shadow: var(--default-dark);
    margin-left: 2%;
    margin-top: 1%;
    font-size: 2em;
}
#joinBtn {
    position: absolute;
    font-size: 1em;
    background-color:var(--accent-color);
    color:var(--default-light);
    font-family: var(--header-font);
    font-weight: bold;
    cursor: pointer;
    bottom: 2%;
    right: 2%;
    padding: 1%;
    box-shadow: 0 2px 15px var(--default-dark);
}
#joinBtn:hover {
    font-size: 1.1em;
    background-color:var(--default-light);
}
/******************
   Discover Page
******************/
.discover-main {
    display: grid;
    grid-template-rows: minmax(min-content, max-content);
    grid-template-columns: minmax(min-content, max-content);
    max-width: 500px;
}

.discover-main h2 {
    color: var(--main-color);
    font-size:xx-large;
    padding-left: 1em;
    margin-bottom: auto;
}

.deck {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    justify-content: center;
}

.card {
    display: grid;
    justify-items: center;
    padding: 1em;
    margin: 1em auto;
    background-color: var(--secondary-color);
}

.card p {
    margin-top: auto;
    padding: 0 1em;
}

.discover img[data-src] {
    filter: blur(0.2em);
  }
.discover img {
    filter: blur(0em);
    transition: filter 0.1s;
  }

.discover-main > p {
    font-style: italic;
    color: white;
}